$pink: #f54768;
$lime: #8bd76b;
$gray: #111;
$dark: #000;
$light: #fff;

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  background-color: $dark;
  background-size: cover;
  color: $light;
  font: 14px/1.3 'Overpass Mono', monospace;
  overflow: hidden;
}

a {
  color: $lime;

  &:hover, &:active, &:focus {
    color: white;
  }
}